{% extends "layout.html" %}
{% block js %}
    <script>
        $(function () {
            var datepicker = $("#datepicker");
            datepicker.datepicker({
                dateFormat: "yy-mm-dd"
            });
            datepicker.val(moment().format("YYYY-MM-DD"));
            var hourSelect = $("#hourSelect");
            var i, is;
            for (i = 0; i <= 23; i++) {
                is = (i).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping: false});
                hourSelect.append(new Option(is, is));
            }
            var minuteSelect = $("#minuteSelect");
            for (i = 0; i <= 55; i += 5) {
                is = (i).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping: false});
                minuteSelect.append(new Option(is, is));
            }
            $("#timeSelectButtonGo").on("click", function () {
                var dateTime = datepicker.val() + " " + hourSelect.val() + ":" + minuteSelect.val();
                window.location = '/?update_at=' + dateTime;
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div id="tableDiv">
        <table border="1" cellspacing="0">
            {% for row in data %}
                <tr>
                    <td><p>{{ map[row[1]][0] }} (<span
                            style="color: {{ map[row[1]][2].replace("0x", "#") }}">{{ map[row[1]][1] }}</span>)</p></td>
                    <td><p>{{ map[row[2]][0] }} (<span
                            style="color: {{ map[row[2]][2].replace("0x", "#") }}">{{ map[row[2]][1] }}</span>)</p></td>
                    <td><p>{{ row[4].strftime("%Y-%m-%d %H:%M") }}</p></td>
                    <td><a href="/byStation?from_name={{ map[row[1]][0] }}&to_name={{ map[row[2]][0] }}"><span style="color:{{ row[3] }};">{{ row[3] }}</span></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="timeSelectDiv">
        <input type="text" id="datepicker" readonly>
        <select id="hourSelect">
        </select>
        <select id="minuteSelect">
        </select>
        <input type="button" value="go" id="timeSelectButtonGo">
    </div>
    <div id="timeListDiv">
        {% for update_at in all_update_at %}
            <a href='/?update_at={{ update_at }}'>{{ update_at }}</a><br/>
        {% endfor %}
    </div>
{% endblock %}
