<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html, body {
            overflow: hidden;
            overflow-y: auto;
        }

        #tableDiv, #timeListDiv {
            padding: 30px;
        }

        table p {
            font-size: 1.5rem;
            margin: 10px;
        }

        a {
            font-size: 1.5rem;
        }
    </style>
</head>
<body>
<div id="tableDiv">
    <table border="1" cellspacing="0">
        {% for row in data %}
            <tr>
                <td><p>{{ map[row[1]][0] }} (<span
                        style="color: {{ map[row[1]][2].replace("0x", "#") }}">{{ map[row[1]][1] }}</span>)</p></td>
                <td><p>{{ map[row[2]][0] }} (<span
                        style="color: {{ map[row[2]][2].replace("0x", "#") }}">{{ map[row[2]][1] }}</span>)</p></td>
                <td><p>{{ row[4].strftime("%Y-%m-%d %H:%M") }}</p></td>
                <td><p><span style="color:{{ row[3] }};">{{ row[3] }}</span></p></td>
            </tr>
        {% endfor %}
    </table>
</div>
<div id="timeListDiv">
    {% for update_at in all_update_at %}
        <a href='/?update_at={{ update_at }}'>{{ update_at }}</a><br/>
    {% endfor %}
</div>
</body>
</html>